language: rust
rust:
  - nightly
cache: cargo
before_script:
  - export PATH="$PATH:$HOME/.cargo/bin"
  - rustup target add wasm32-unknown-unknown
  - (which rustfmt && cargo fmt --version) || cargo install rustfmt-nightly --force
  - which cargo-web || cargo install cargo-web
jobs:
  include:
    - stage: lint
      script: mkdir src/lib && cp src/commit.rs src/lib/ && cargo fmt -- --write-mode=diff
    - stage: build
      script: cargo web build --target-webasm --bin rtvcs_web
      script: cargo build --no-default-features
    - stage: test
      script: mkdir src/lib && cp src/commit.rs src/lib/ && cargo test
