language: rust
rust:
  - nightly
cache: cargo
before_script:
  - export PATH="$PATH:$HOME/.cargo/bin"
  - rustup target add wasm32-unknown-unknown
  - (which rustfmt && cargo fmt --version) || cargo install rustfmt-nightly --force
  - which cargo-web || cargo install cargo-web
script:
  - cargo fmt -- --write-mode=diff
  - cargo web build --target-webasm --bin rtvcs_web
  - cargo build --no-default-features
  - cargo test
